:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030c;
    --fonte-principal: 'inter';
    --botao-azul-efeito: #3c92fa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

    .container__imagem{
        margin: 1em 0 2em 0;
    }

    .container__titulo {
        font-size: 28px;
        font-weight: 700;
    }

    .container__aviso {
        font-size: 12px;
        color: var(--cinza-secundario);
    }

    .container__caixa{
        margin: 0 6em;
    }

    .container__descricao{
        padding: 2em;
    }

    .container__botao {
        background-color: var(--botao-azul);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        text-decoration: none;
        display: block;
        margin-bottom: 1em;
    }

    .container__botao:hover {
        background-color: var(--botao-azul-efeito);
        color: var(--cor-fundo);
    }

        .container__botao__secundario {
            background-color: transparent;
            border-radius: 5px;
            padding: 1em;
            color: var(--branco-principal);
            text-decoration: none;
            display: block;
            border: 1px solid var(--branco-principal);
            margin-bottom: 1em;
        }

.secundario{
    align-items: center;
    margin: 0 10em;
}

    .secundario__imagem {
        width: 80%;
    }

    .secundario__botao {
        display: inline-block;
        margin-top: 1em;
    }

.descricao__titulo {
    
    font-weight: bold;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-size: 16px;
    color: var(--cinza-secundario);
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
   font-size: 48px; 
   font-weight: bold;
   text-decoration: none;
   color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 6em 0;
}

.lista__item{
    font-size: 32px;
    font-weight: bold;
    color: var(--branco-principal);
}

.lista__link{
    font-size: 16px;
}

.rodape{
    text-align: center;
    margin: 2em 0;
}

.rodape__lista{
    text-align: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
}

.rodape__texto{ 
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 2em;
}

.rodape__logo{
    margin: 2em;
}

.links__link{
    padding: 0 1em;
    text-decoration: none;
    color: var(--branco-principal);
}

.links__link:hover {
    color: var(--botao-azul);
}

.links__link:active {
    color: purple;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem{
        width: 50vw;
    }

    .container__caixa{
        margin: 6em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
        align-items: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__titulo {
        margin: 0 2em;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }

}
   